<div class="wrapper">
    <mat-toolbar>
        <span style="position: absolute;left: 45%;">Employee Appraisal Form</span>
    </mat-toolbar>
    <div id="one">
        <div>
            <mat-card>
                <h3>Appraisal Form</h3>
                <form [formGroup]="appraisalForm">

                    <div class="form-group">
                        <mat-form-field>
                            <input class="form-control" formControlName="employee_id" type="number" matInput placeholder="Employee ID" required>
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <mat-form-field>
                            <input class="form-control" formControlName="name" type="text" matInput placeholder="Name" required>
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Position</mat-label>
                            <mat-select class="form-control" formControlName="position">
                                <mat-option value="Lead">Lead</mat-option>
                                <mat-option value="Manager">Manager</mat-option>
                                <mat-option value="Senior ">Senior Developer</mat-option>
                                <mat-option value="Junior ">Junior Developer</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Department</mat-label>
                            <mat-select class="form-control" formControlName="department">
                                <mat-option value="HR">Human Resource</mat-option>
                                <mat-option value="Web">Web department</mat-option>
                                <mat-option value="App">App department</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <mat-form-field>
                            <input class="form-control" formControlName="salary" type="number" matInput placeholder="Salary" required>
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <p style="float: left;">{{conduct}}</p>
                        <mat-slider style="float: left; margin-left: 30px;" [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel" formControlName="conduct" placeholder="Conduct" [vertical]="vertical">
                        </mat-slider>
                    </div>
                    <div class="form-group">
                        <p style="float: left;">{{qual}}</p>
                        <mat-slider style="float: left; margin-left: 30px;" [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel" formControlName="quality" placeholder="Quality" [vertical]="vertical">
                        </mat-slider>
                    </div>
                    <div class="form-group">
                        <p style="float: left;">{{team}}</p>
                        <mat-slider style="float: left; margin-left: 30px;" [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel" formControlName="teamwork" placeholder="Teamwork" [vertical]="vertical">
                        </mat-slider>
                    </div>
                    <div class="form-group">
                        <p style="float: left;">{{skill}}</p>
                        <mat-slider style="float: left; margin-left: 30px;" [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel" formControlName="skill" placeholder="Skill" [vertical]="vertical">
                        </mat-slider>
                    </div>
                </form>
            </mat-card>
            <button mat-raised-button color='primary' style="width: 100%;" (click)='onSubmit()'>SUBMIT</button>
        </div>
    </div>
    <div id="two">
        <div class="search-div">
            <mat-form-field class="search-form-field" floatLabel="never">
                <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
                <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="mat-elevation-z8">
            <mat-table [dataSource]="listData">
                <ng-container matColumnDef="ID">
                    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.employee_id}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Name">
                    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Department">
                    <mat-header-cell *matHeaderCellDef>Department</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.department}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Position">
                    <mat-header-cell *matHeaderCellDef>Position</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.position}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Salary">
                    <mat-header-cell *matHeaderCellDef>Salary</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.salary}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Conduct">
                    <mat-header-cell *matHeaderCellDef>Conduct</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.conduct}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Quality">
                    <mat-header-cell *matHeaderCellDef>Quality</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.quality}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Teamwork">
                    <mat-header-cell *matHeaderCellDef>Teamwork</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.teamwork}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Skill">
                    <mat-header-cell *matHeaderCellDef>Skill</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.skill}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button mat-icon-button (click)="onEdit(row)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="onDelete(row._id)">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="loading">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                        Loading data...
                    </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="6">
                        No data.
                    </mat-footer-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
                <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>

            </mat-table>
            <mat-paginator [pageSizeOptions]="[1,5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>