<div class="def-shadow padded-container" fxLayout="column" fxLayoutAlign="space-around none" class="def-shadow padded-container" fxFlex fxFlexFill>
    <mat-card>
        <h3>Add Employee Details</h3>
        <form [formGroup]="appraisalForm">

            <div class="form-group">
                <mat-form-field>
                    <input class="form-control" formControlName="employee_id" type="text" matInput placeholder="Employee ID" [(ngModel)]="employee_id" name="employee_id" required>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field>
                    <input class="form-control" formControlName="name" type="text" matInput placeholder="Name" [(ngModel)]="name" name="name" required>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field>
                    <mat-label>Position</mat-label>
                    <mat-select class="form-control" formControlName="[position]" [(value)]="position">
                        <mat-option value="Lead">Lead</mat-option>
                        <mat-option value="Manager">Manager</mat-option>
                        <mat-option value="Senior Developer">Senior Developer</mat-option>
                        <mat-option value="Junior Developer">Junior Developer</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Department</mat-label>
                    <mat-select class="form-control" formControlName="[department]" [(value)]="department">
                        <mat-option value="Human Resource">Human Resource</mat-option>
                        <mat-option value="Web department">Web department</mat-option>
                        <mat-option value="App department">App department</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field>
                    <input class="form-control" formControlName="salary" type="number" matInput placeholder="Salary" [(ngModel)]="salary" name="salary" required>
                </mat-form-field>
            </div>

        </form>
    </mat-card>
</div>