<!-- <div class="container" fxLayout="row" fxLayout.xs="column " outAlign="space-around none" class="def-shadow padded-container" fxFlex fxFlexFill>
    <mat-card>
        <h3>Add Employee Details</h3>
        <form [formGroup]="appraisalForm">

            <div class="form-group">
                <mat-form-field>
                    <input class="form-control" formControlName="employee_id" type="text" matInput placeholder="Employee ID" required>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field>
                    <input class="form-control" formControlName="name" type="text" matInput placeholder="Name" required>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field>
                    <mat-label>Position</mat-label>
                    <mat-select class="form-control" formControlName="position">
                        <mat-option value="Lead">Lead</mat-option>
                        <mat-option value="Manager">Manager</mat-option>
                        <mat-option value="Senior Developer">Senior Developer</mat-option>
                        <mat-option value="Junior Developer">Junior Developer</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Department</mat-label>
                    <mat-select class="form-control" formControlName="department">
                        <mat-option value="Human Resource">Human Resource</mat-option>
                        <mat-option value="Web department">Web department</mat-option>
                        <mat-option value="App department">App department</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field>
                    <input class="form-control" formControlName="salary" type="number" matInput placeholder="Salary" required>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-slider [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel" formControlName="conduct" placeholder="Conduct" [vertical]="vertical">
                </mat-slider>
            </div>
            <div class="form-group">
                <mat-slider [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel" formControlName="quality" placeholder="Quality" [vertical]="vertical">
                </mat-slider>
            </div>
            <div class="form-group">
                <mat-slider [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel" formControlName="teamwork" placeholder="Teamwork" [vertical]="vertical">
                </mat-slider>
            </div>
            <div class="form-group">
                <mat-slider [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel" formControlName="skill" placeholder="Skill" [vertical]="vertical">
                </mat-slider>
            </div>
        </form>
    </mat-card>
    <button mat-raised-button color='primary' (click)='onSubmit()'>SUBMIT</button>
</div> -->